/* =Layout
-------------------------------------------------------------- */

// placeholder classes
%inlineUpper {
    display: inline;
    text-transform: uppercase;
}

.upper { text-transform: uppercase; }

.centerText  { text-align: center; }
%rightText   { text-align: right; }
.leftText    { text-align: left; }

// create positioning classes
.noHeight      { height: 0; }
.right         { float: right !important; }
.smallPad      { padding-bottom: 3rem; }
.pad           { padding-bottom: 5rem; }
.bigPad        { padding-bottom: 10rem; }
.smallPadTop   { padding-top: 1rem; }
.padTop        { padding-top: 6rem; }
.baseTopMargin { margin-top: 2rem; }
.bigTopMargin  { margin-top: 5rem; }
.horizontalPad { padding-left: 1rem; padding-right: 1rem; }

body {
    -webkit-transform: translateZ(0);
}

// layout classes
.logo {
    box-sizing: border-box;
    max-width: 55rem;
    height: 11rem;
    padding-top: 5rem;
    padding-left: 6rem;
    // background: url("../images/ammc_logo.svg") center center no-repeat;
    // background-size: cover;

    img {
        max-width: 100%;
        // width: 400px;
    }

    @media (max-width: 840px) {
        // width: 30rem;
    }
    @media (max-width: 1120px) {
        max-width: 45rem;
        padding-left: 3rem;
    }
    @include responsive(small-screens) {
        padding: 2rem 3rem 2rem 3rem;
        height: auto;
        // height: 14rem;
        // left: -15%;
        // width: 130%;
    }
}

.callUs {
    height: 5.8rem;
    @include responsive(small-screens) {
        height: 8.8rem;
        h3 {
            a {
                font-size: 2.2rem;
            }
        }
    }
    padding-top: 4.2rem;
    padding-right: 4rem;
    @extend %rightText;

    h4, h5 { display: inline; }
    h5 { text-transform: none; }
    h3 {
        span {
            text-transform: none;
            display: inline-block;
            font-size: 0.5em;
            font-family: $lato;
            margin: 1.8rem 1rem 0 0;
            vertical-align: top;
        }
    }
    
    h5 { font-size: 1.8rem; }
    h4 { font-size: 2.3rem; }
    h3 { font-size: 4rem; }

    .callUsCopy {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 0.5rem;
        white-space: nowrap;
        @media (max-width: 457px) {
            h5 {
                display: inline-block;
                margin-bottom: 0.5rem;
            }
        }
    }

    @media (max-width: 1120px) {
        h3 {
            font-size: 3rem;
        }
        h5 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 2rem;
        }
    }
}

.titleRow { 
    height: 80%;
    // @media (max-width: 768px) {
    //     height: auto;
    // }
    @include responsive(small-screens) {
        height: auto;
    }
}
.title {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    @include responsive(small-screens) {
        -webkit-transform: none;
    }
}

p.aboutCopy {
    font-size: 1.6em;
    line-height: 1.4em;
    @extend .blockMargins;
}

.content {
    @extend .centerText;
    padding-top: 6rem;

    background-color: $secondary-bg-color;
}

.container {
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 6rem;
    @media (max-width: 900px) { padding: 0 2rem; }
}

.messager {
    display: none;
    background-color: $primary-bg-color;

    // this is a strange hack to get the sliding animation to work correctly
    border: 1px solid transparent;
}

.contacts {
    box-sizing: border-box;
    max-width: 1500px;

    margin: 0 auto;
}

.copyright {
    @extend .centerText;
    padding-bottom: 4rem;
}

@include responsive(small-screens) {
    .callUs {
        text-align: center;
        padding-right: 0;
        padding-top: 2rem;
    }

    .logo {
        position: relative;
        // top: -2rem;
        margin: 0 auto;
        // padding-left: 0;
        // padding-top: 0;
    }

    .title {
        transform: none;
        top: auto;
    }
}

@include responsive(smallest-screens) {
    // .title { transform: translateY(-90%); }
    #quoteButton { display: none; }
}
