/* =Modules
-------------------------------------------------------------- */

%button {
    padding: 1.5rem;
    display: inline-block;

    border-radius: 0.3rem;

    @extend .montserrat;
    font-size: 1.3em;
    color: $white;
    text-transform: uppercase;

    transition: all 0.5s;

    cursor: pointer;
}

%input {
    margin: 0;
    padding: 1.5rem 10rem 1.5rem 1.5rem;

    border-radius: 0.3em;
    border: none;

    background-color: $lighter-gray;

    @extend .montserrat;
    color: #bababa;
    text-transform: uppercase;

    &:focus {
        outline: 0;
    }
}

%messagerInput {
    @extend %input;
    border: 1px solid $white;

    background: none;

    color: $some-gray;

    transition: all 0.3s ease;

    &:focus {
        border-color: $yellow;
        box-shadow: 0 0 4px $yellow;
    }
}

.purpleButton {
    @extend %button;
    background-color: $light-purple;

    &:hover {
        background-color: $purple;
    }
}

.yellowButton {
    @extend %button;
    background-color: $yellow;

    &:hover {
        background-color: $light-yellow;
    }
}

.callList {
    @extend .leftText;
    display: inline-block;
    width: 13rem;

    span {
        display: none;
        padding-right: 1rem;

        &:first-child {
            display: inline;
        }
    }

    .flipInX {
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }

    .flipOutX {
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
}

.quickJoin {
    @extend .centerText;
    padding-top: 1rem;


    small { font-size: 1em; padding-top: 1rem; }
    span  { padding: 0; margin: 0; }
    p     { font-size: 1.6em; line-height: 0.5em; }

    input {
        @extend %input;
        box-sizing: border-box;
        padding: 1.5rem;
        width: 18rem;
        font-size: 1em;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @media (max-width: 1080px) {
            width: auto;
        }
        @media (max-width: 840px) {
            width: 100%;
            border-radius: 0.3rem;
        }
    }

    .quickButton {
        @extend .yellowButton;
        box-sizing: border-box;
        font-size: 1em;
        position: relative;
        left: -0.3rem;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        @media (max-width: 840px) {
            width: 100%;
            left: 0;
            margin-top: 1rem;
            border-radius: 0.3rem;
        }
    }

    .social {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        vertical-align: middle;
        background-size: cover;
    }
    .facebook {
        background: url("../images/facebook.svg") center center no-repeat;
    }
    .linkedin {
        background: url("../images/linkedin.svg") center center no-repeat;
        margin: 0 1rem;
    }
}

.messager {
    input {
        @extend %messagerInput;
        width: 100%;
        margin: 1rem 0;
        padding-right: 0;
    }

    textarea {
        @extend %messagerInput;
        width: 94.5%;
        height: 15rem;
        margin: 1rem 0;
        padding-right: 0;
    }
}

.scrollDown {
    @extend .centerText;
    position: absolute;
    height: 6rem;
    bottom: 0;

    background: url("../images/down_bg.png") no-repeat center bottom;

    color: black;

    i {
        padding: 0.5rem;
        margin-top: 3rem;
        cursor: pointer;
    }
}

.expander {
    @extend .centerText;
    position: absolute;
    height: 6rem;

    background: url("../images/up_bg.png") no-repeat center top;

    color: black;

    i {
        padding: 0.5rem;
        cursor: pointer;
    }
}

.footerLineHeight{
    line-height: 2.5em;
}

.separator {
    width: 20rem;
    margin: 4rem auto;

    .line, .footerLine {
        height: 0.1rem;
        margin: 0.5rem;
    }

    .line       { background-color: $mid-gray; }
    .footerLine { background-color: $light-gray; }
}

.footerTable {
    white-space: nowrap;

    .footerRow {
        display: table-row;
    }

    .footerIcon, .footerIconLabel {
        display: table-cell;
        vertical-align: top;
        white-space: normal;
    }

    .footerIcon {
        padding-right: 1rem;
        text-align: center;
        font-size: 1.2em;
    }
}

.two.column{
    line-height: 2em;
}

@include responsive(small-screens) {
    .messager {
        input { width: 94.5%; }
    }
}

// Services / Products
// --------------------------------------------------------

.capabilities {
    background: url("../images/irongrip_@2X.png") center center repeat;
}

.products {
    padding: 0 0 6rem 3rem;

    @media (max-width: 900px) {
        padding: 0 0 2rem 1rem;
    }
    @media (max-width: 640px) {
        padding-left: 0;
    }
}

.services {
    padding: 0 3rem 6rem 0;
    @media (max-width: 900px) {
        padding: 0 1rem 2rem 0;
    }
    @media (max-width: 640px) {
        padding-right: 0;
    }
}

.services,
.products {
    box-sizing: border-box;

    h1 {
        font-size: 3.2rem;
        margin-bottom: 5rem;
    }

    @include responsive(small-screens) {
        padding-bottom: 3rem;
    }
}

.info-box {
    background: $white;
    border-radius: 0.3em;
    width: 100%;
    position: relative;
    min-height: 481px;
    @include row();

    &:before {
        position: absolute;
        margin-left: -2.6rem;
        top: -2.6rem;
        left: 50%;
        width: 0; 
        height: 0; 
        border-left: 2.6rem solid transparent;
        border-right: 2.6rem solid transparent;
        
        border-bottom: 2.6rem solid $lightest-gray;
    }

    .info-box-top {
        background: $lightest-gray;
        border-bottom: 1px solid $lighter-gray;
        border-top: 1px solid $white;
        border-radius: 0.3rem;
        padding: 1.8rem;

        @include responsive(small-screens) {
            display: none;
        }
    }
}

.services {
    #service-select {
        list-style: none;
        width: auto;
        @include row();

        li {
            box-sizing: border-box;
            display: table;
            margin-right: 2%;
            width: 23.5%;
            float: left;
            &:last-child { margin-right: 0; }
            
            a {
                border-radius: 0.3em;
                box-sizing: border-box;
                display: table-cell;
                vertical-align: middle;
                text-transform: uppercase;
                height: 5rem;
                color: $gray;
                padding: 0.5rem;
                width: 100%;
            }

            &.current a {
                background: $yellow;
                color: $white;
            }
        }
    }

    .services-container {
        box-sizing: border-box;
        padding: 2.2rem;
        @include responsive(small-screens) { 
            width: auto;
        }
        @media (max-width: 1300px) { width: 100%; }

        .service {
            display: none;
            &.current { display: block; }

            ul {
                list-style: none;
                margin-top: 1.5rem;
                li {
                    position: relative;
                    padding-left: 2.5rem;
                    box-sizing: border-box;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    @media (max-width: 1300px) {
                        width: 100%;
                    }
                    
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0.7rem;
                        content: '>';
                        margin-right: 1rem;
                    }
                }
            }
        }

        @include responsive(small-screens) {
            .service {
                display: block;
                margin-top: 1rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .services-callout {
        box-sizing: border-box;
        padding: 2.2rem;
        @media (max-width: 1300px) {
            width: auto;
        }

        h2 {
            font-size: 2.5rem;
            // margin-bottom: 1rem;
            text-transform: uppercase;

            &:after {
                background-color: $yellow;
                display: block;
                margin: 1.4rem auto 1.3rem auto;
                content: '';
                height: 1px;
                width: 100%;
            }
        }

        a.loudButton {
            box-sizing: border-box;
            border-radius: 0.3rem;
            display: inline-block;
            background: $purple;
            color: $white;
            padding: 1.5rem;
            margin-top: 2rem;
            width: 100%;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.6;
        }

        .container {
            box-sizing: border-box;
            padding: 1.5rem;
            border: 2px solid $lighter-gray;
            border-radius: 0.3em;
        }
    }
}

.products {
    .product-list {
        padding: 2.2rem;

        ul {
            @include row();
            margin: 1.5rem 0;
            list-style: none;

            li {
                @include column(5);
                position: relative;
                padding-left: 2.5rem;
                box-sizing: border-box;
                font-size: 1.5rem;
                line-height: 2.5rem;
                
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0.7rem;
                    content: '>';
                    margin-right: 1rem;
                }
            }
        }
        @media (max-width: 1200px) {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }

    .products-callout {
        border: 2px solid $lighter-gray;
        border-radius: 0.3em;
        padding: 1.5rem;

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
        }

        h2:after {
            background-color: $yellow;
            display: block;
            margin: 1.4rem auto 1.3rem auto;
            content: '';
            height: 1px;
            width: 70%;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.6;
        }
    }
}

// Featured Product
// ------------------------------------------
.featured-container {
    // max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 6rem;
    position: relative;
    overflow: hidden;
    z-index: 0;

    .featured-image {
        max-width: 45%;
        position: absolute;
        right: 6rem;
        top: 8rem;
        z-index: -1;
        @media (max-width: 1160px) {
            max-width: 30%;
            right: 0;
        }
        @include responsive(small-screens) {
            position: static;
            max-width: 100%;
            box-sizing: border-box;
        }
        
        img { max-width: 100%; }
    }   

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 6.5rem;
        display: inline-block;
        margin-bottom: 2rem;
        max-width: 70%;
        @include responsive(small-screens) {
            max-width: none;
        }
    }
    h3 {
        font-size: 3.5rem;
    }
    @media (max-width: 1470px) {
        h1 { font-size: 4rem; }
        h2 { font-size: 2.3rem; }
        h3 { font-size: 2rem; }
    }
    @media (max-width: 900px) {
        h1 { font-size: 3rem; }
        h2 { font-size: 2.3rem; }
        h3 { font-size: 2rem; }
    }

    .feature-content {
        max-width: 47%;
        @media (max-width: 1160px) {
            max-width: 65%;
        }
        @include responsive(small-screens) {
            max-width: none;
        }

        p {
            font-size: 2rem;
            line-height: 1.6;
            margin-bottom: 1.5rem;
            @media (max-width: 900px) {
                font-size: 1.5rem;
            }
        }

        ul {
            list-style: none;
            margin-bottom: 1.5rem;
            li {
                position: relative;
                padding-left: 2.5rem;
                box-sizing: border-box;
                font-size: 1.5rem;
                line-height: 2.5rem;
                
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0.7rem;
                    content: '>';
                    margin-right: 1rem;
                }
            }
        }
    }

    .feature-phone {
        p { margin-bottom: 0; }
    }
}
































