/* =Settings
-------------------------------------------------------------- */

// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'Montserrat';
  // src: url('../../assets/fonts/Montserrat-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Montserrat-Regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Montserrat-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Montserrat-Regular-webfont.svg#Montserrat-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg'); /* Legacy iOS */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Futura';
        src: url('futura.svg#futura') format('svg');
    }
}

$montserrat: 'Montserrat', sans-serif;

// @import url(http://fonts.googleapis.com/css?family=Lato:300,400);
$lato: 'Lato', sans-serif;

// base color scheme
$gray: #595959;
$mid-gray: #dfdfdf;
$light-gray: #696969;
$lighter-gray: #e8e8e8;
$lightest-gray: #f4f4f4;
$some-gray: #acacac;
$dark-gray: #262626;
$purple-gray: #605268;
$purple: #662d91;
$light-purple: #8451a1;
$dark-purple: #2f1c3a;
$gold: #c6a65d;
$yellow: #ebaa16;
$light-yellow: #ecc46a;
$light-white: #f4f4f4;
$white: #ffffff;
$black: #000000;

// base color settings
$primary-bg-color: rgba(0, 0, 0, 0.85);
//$primary-bg-color: $purple;
$secondary-bg-color: $white;
$tertiary-bg-color: $dark-gray;
$header-text-color: $lightest-gray;
$header-text-purple: $light-purple;

// base settings
$base-font-size: 1.8rem;
$base-font-family: $lato;
$base-font-weight: 400;
$base-text-color: $black;

$heading-font-family: $montserrat;

// responsive settings
$break-smallest: 550px;
$break-small: 640px;
$break-medium: 768px;
$break-large: 960px;